[2015-06-08 06:05] niftylettuce opened #1 "Search feature request"
It'd be nice to be able to search for music, tags, genres, ...

[2015-06-08 12:10] Bitbored commented on #1
Do you mean a global search (on the entire souncloud), or the ability to search in a user's stream / playlists / likes?

Since this is a pretty minimal app, I think global search functionality is out of scope... However this has my +1 for search functionality in favorites.

[2015-06-08 15:12] niftylettuce commented on #1
Global search
On Jun 8, 2015 8:10 AM, "Seppe Stas" <notifications@github.com> wrote:

[2015-06-09 13:13] MichielDeMey commented on #1
Hi @niftylettuce

Thanks for the feature request, however search is not currently on our roadmap since we feel that it is largely outside of the scope of this project.

That's not to say that we won't add it in the future. :)

[2015-06-09 13:21] niftylettuce commented on #1
How can this be a music player if you can't search for music?  SoundCloud's API is right there for us to use.  So what, am I supposed to go to SoundCloud.com every time I want to add a new track to a playlist?   What if I don't like anything that's in the Feed?  What if I want to listen to a specific song someone told me about?  That's bizarre to not have this feature...

[2015-06-09 13:22] niftylettuce commented on #1
<https://developers.soundcloud.com/docs/api/guide#search>

[2015-06-09 19:13] gillesdemey commented on #1
I think you will be better served by something like [SoundNode](http://www.soundnodeapp.com), which is trying to be more than Cumulus is.

We've debated adding search, but it comes with a number of extra features we don't want to implement right now

We think Cumulus is a great companion for playing the music you've curated on SoundCloud, but doesn't aim to replace SoundClouds amazing web experien

[2015-06-09 19:17] Bitbored commented on #1
But, but... I was just working on a search feature... :confused:

[2015-06-09 19:19] niftylettuce commented on #1
Finish your feature for search and fork the project we can use your fork
for cool stuff like this
On Jun 9, 2015 3:17 PM, "Seppe Stas" <notifications@github.com> wrote:

[2015-06-15 10:30] kokarn opened #2 "Add support for sets/playlists in liked & feed"
I'd really like to be able to listen to sets/playlists that i get in my feed or that i have liked.

Stuff like this: https://soundcloud.com/mau5trap/sets/enzos-summer-vibz
At the moment they don't seem to show up at all in either of those tabs.

Haven't been able to test the playlist tab yet as it just keeps loading and never shows anything at the moment.

[2015-06-15 11:32] Bitbored commented on #2
Could you specify what kind of OS you use? The playlist not loading bug was unknown until now...

[2015-06-15 12:36] kokarn commented on #2
Oh really? The tab one or that they don't show up in feed?

It's a pretty new macbook 13" with retina on 10.10.3.

[2015-06-15 15:35] gillesdemey commented on #2
The playlists tab takes a long time to load depending on how many playlists/tracks you have.

You can check if the network request fails or if there's a JavaScript exception by running the app in development mode.

Basically:

* Clone the project
* Install dependencies `npm install && npm install -g electron-prebuilt`
* And run it `NODE_ENV=development electron .`

If patience doesn't work, it mig

[2015-06-15 22:06] gillesdemey commented on #2
I've implemented your feature request, and is available as v0.3.0.

You'll have to [download](https://www.dropbox.com/s/w5lo9fqsb4hwipr/Cumulus.zip?dl=0) the app again though!

I'll probably have another look at how playlists are currently displayed in the app, I'm not quite happy with it.

Regarding favorited sets: not currently possible to get them through SoundClouds official API, and I don't w

[2015-06-15 22:06] #2 closed

[2015-06-16 09:03] kokarn commented on #2
This looks so good, thank you very much!

I'll open another issue for the playlists tab tho.

[2015-06-16 09:06] kokarn opened #3 "Playlists stuck on loading animation when you have no playlists"
After debugging for a while with help from #2, i realised that i might not have any playlists and that's why it's stuck on the loading animation.

Turns out that was the problem all along.
Maybe just display a text that you have no playlists or something instead?

Thanks for a great app <3

[2015-06-17 10:56] kokarn opened #4 "Make artist & track clickable in "now playing""
If you play from your feed and find a nice track there is no easy way to go to or like it.

[2015-06-18 15:22] gillesdemey commented on #4
Can you elaborate on the way you'd see this work?

Clicking the artist or track title should take you to the website?

And you can like a track simply by clicking the "heart" icon in the media player.

[2015-06-18 15:50] #3 closed

[2015-06-18 16:06] gillesdemey commented on #3
This is fixed, you can download the latest version at the URL defined in the README.

[2015-06-20 15:43] gillesdemey commented on #4
Resolved in v0.3.3

[2015-06-20 15:43] #4 closed

[2015-06-20 16:49] kokarn commented on #4
Oh sorry, missed your last post.
Sorry about missing the heart, and thanks for the 0.3.3 <3

[2015-06-22 07:10] kokarn commented on #3
Thanks, great work!

[2015-06-24 09:28] kokarn opened #5 "Refresh feed"
Still loving this player, it's so awesome. (Sorry for all the issues reported, just trying to help out ^^)

Today i noticed that the feed in Cumulus doesn't seem to update.

In Cumulus
![My current feed in Cumulus](https://i.imgur.com/Qvg217L.png)
On soundcloud.com
![My current feed on the site](https://i.imgur.com/Rcz6W3d.png)

After i restart Cumulus, i get the correct feed.
![Feed in Cumulus af

[2015-06-25 11:59] MichielDeMey commented on #5
Hi, thanks for the bug report!
This is a known issue, we're going to have to implement a refresh option to reload your list.

If you have any suggestions, feel free to post them here.
A button would be the easiest to implement but we're trying to keep the app user friendly and uncluttered.

[2015-06-26 07:27] Bitbored commented on #5
There seems to be a `future_href ` property in the activities result for this purpose. Maybe we could check it as soon as the app is activated (the tray icon is clicked)? This way we only have to do this request when we know the user might actually want it. I'm personally not a big fan of polling the `future_href` in the background... When the tracks are playing they go "back in time" anyway.

Whe

[2015-06-26 08:46] kokarn commented on #5
Yeah, i agree with @Bitbored. It seems unneeded to do it unless the user activates the app.

The only case i might think up is that if they press "previous track" enough to go back to the first track and then press "previous track" again.

[2015-07-28 17:48] bradsimantel opened #8 "Can't paste password when logging in"
I can't paste a password into the login form, which makes using a password manager with Cumulus really difficult.

[2015-07-28 18:08] gillesdemey commented on #8
I'll look into this

[2015-08-02 21:59] bradsimantel commented on #8
Thanks!

[2015-08-03 01:02] gillesdemey commented on #8
Unfortunately we're still figuring out why packaging the application has different behaviour on all platforms. I've reported the issue and it's being tracked here: https://github.com/atom/electron/issues/2402#issuecomment-127082576

I'm going to re-open this issue until we have it figured out.

[2015-08-03 18:57] #8 closed

[2015-08-03 19:06] gillesdemey commented on #8
Hey @bradsimantel

I've resolved the issue in the latest version. Could you re-download the application and let me know if it works?

There isn't a way to sign out yet through the user interface, but removing the stored access token will effectively sign you out.

Running `rm ~/Library/Application\ Support/Cumulus/config.json` will remove it so you can log in again.

[2015-08-03 19:28] bradsimantel commented on #8
Logging back in, copy and paste now work on OS X 10.10.4! Thanks for being super responsive about this issue!

[2015-08-19 09:35] kokarn opened #9 "Missing and misplaced track(s)"
Hello!

I'm back from vacation and with it comes more issue reports (sorry :P)

I just noticed some tracks are missing from my feed and some seem "misplaced" or just appear in another order.
I've included screenshots below for the relevant part of my feed.

The issue persists even if I restart Cumulus and I updated to the latest available version (0.3.5) yesterday.

Anything i can help to debug th

[2015-08-20 12:04] Bitbored commented on #9
As far as I can see, the [3LAU HAUS #37 (Back To School)](https://soundcloud.com/3lau/3lau-haus-37-back-to-school?in=3lau/sets/3lau-haus) track is new, but is part of an [album that is more than 3 years old](https://soundcloud.com/3lau/sets/3lau-haus). Cumulus displays full albums in the feed view, and Soundcloud does not update the release date of the albums if a new track is added.

[2015-08-20 12:42] kokarn commented on #9
That makes sense.

Any thoughts on the other 2 tracks?
The last one is probably the same thing but the second one, Premiere: ATTLAS 'Rasor', doesn't make any sense at all to me.

[2015-08-20 14:20] Bitbored commented on #9
I think the missing "Premiere: Premiere: ATTLAS 'Rasor'" track is caused by a re-post: it was re-posted by mau5trap records on 05/08, while the original was posted on 29/07. In your last image you can see Cumulus has actually placed the song in your feed, however on the location it was originally posted.

Personally I think the behavior of Cumulus makes more sense than the behavior of Soundcloud's

[2015-08-20 14:37] kokarn commented on #9
That makes sense, and might explain another issue that's not related to Cumulus.
I have one track posted by Hirshee,
```The Police - Message In A Bottle (Hirshee Remix) [FREE DOWNLOAD]``` that keeps reappearing. It's re-posted by Big-Fish Recordings and then maybe that re-post is "re-created" and that timestamp is used. Same both in Cumulus and on Soundcloud.com

How about an option to select sort

[2015-08-20 17:22] gillesdemey commented on #9
Sadly SoundCloud's public API does not accurately reflect the SoundCloud homepage, which uses their newer — but private — API.

There's not much we can do on our end without making the experience all weird for the user.

When we get around to implementing pagination, we wouldn't want any items to shift around because we're sorting the items every time.

I'm going to set this to 'wontfix' for now,

[2015-08-20 17:22] #9 closed

[2015-08-21 05:36] kokarn commented on #9
Ah, that sucks!
Totally understandable that you won't fix this. Not that big of an issue anyways :)

Cheers for the great communication <3

[2015-09-02 23:30] gillesdemey opened #11 "Add Chromecast support"
Cast music to a Google Chromecast.

Supporting the most basic functions like audio, album art, track title and author, etc.

https://www.npmjs.com/package/chromecasts looks like the best package to achieve this.

[2015-09-03 21:22] gillesdemey opened #12 "SoundCloud V2 API"
This would solve a lot of problems that we've been having with Cumulus.

It looks this might be happening sooner rather than later: https://twitter.com/SoundCloudDev/status/639017606264016896

[2015-09-06 00:18] gillesdemey commented on #12
The library is being work on here: https://github.com/gillesdemey/soundcloud-v2

[2015-09-06 11:20] kokarn commented on #12
Nice!
Looking forward to this :)

On Sun, Sep 6, 2015 at 2:18 AM Gilles De Mey <notifications@github.com>
wrote:

[2015-09-06 16:05] MichielDeMey opened #13 "Windows support"
We're looking into fully supporting Windows, but we currently have some issues that need to be resolved.

Development is tracked in the following branch:
https://github.com/gillesdemey/Cumulus/tree/dev-windows

- [x] Add Windows build to build Windows binaries
- [x] Add Windows setup generator
- [ ] Fix media keys not working on Windows
- [ ] Fix crash when right-clicking the icon

We'll extend th

[2015-09-06 16:09] MichielDeMey commented on #13
To support media keys on Windows we might want to look at App Commands.
https://github.com/atom/electron/blob/master/docs/api/browser-window.md#event-app-command-windows

[2015-09-07 10:08] Bitbored commented on #13
Hmm, I'm pretty sure the `WM_APPCOMMAND ` notification is only sent to the window that is active.

https://github.com/atom/electron/blob/master/docs/api/global-shortcut.md looks more promising imo.

[2015-09-07 13:28] gillesdemey commented on #13
We're already using `global-shortcut` https://github.com/gillesdemey/Cumulus/blob/7a8eb12924e32833584ada1f6c153cdddf3ed611/index.js#L94-L104

They're not working on Windows however, we need to figure out why and possibly look into alternatives.

[2015-09-09 00:59] gillesdemey commented on #5
I'm proposing to check for new tracks when
* a user focuses the app, regardless of what tab is currently active
* a user switches to the Feed tab

For every check we should have an arbitrary timeout to determine wether or not we've recently checked for new content to avoid making too many request. Any suggestions are welcome.

We'll have to make sure to also prepend the new tracks to the playlist,

[2015-09-09 06:44] kokarn commented on #5
Wow, this looks really good! Will try out and see if I can find some bugs with it ;)

On the timeout thing, i tried to find what you set but couldn't actually find it in any commits. I might be stupid tho, so sorry if that's the case.
I think something like a minute would be good enough?

PS: Would you mind adding the binary to the [releases tab](https://github.com/gillesdemey/Cumulus/releases)? M

[2015-09-11 09:41] kokarn opened #14 "Unable to play anything "Sorry, something went wrong""
Worked yesterday with 0.4.0, still running the same version but is borked now :/

Running as a developer gives me this log:
https://gist.github.com/kokarn/7c2f55a7fa5e7dd84de1

[2015-09-13 23:10] gillesdemey commented on #14
What tab does this occur in? Does this happen right after you open the app?

[2015-09-14 06:18] kokarn commented on #14
It happens in all the tabs, but I only see the loading on the first one.

Yes, it happens right away :/

[2015-09-15 05:31] adzymaniac opened #15 "Facebook login need cookie enabled"
Thanks for this great work. Anyway, we have small problem with facebook login.

![screen shot 2015-09-15 at 12 18 50 pm](https://cloud.githubusercontent.com/assets/629402/9868621/6db5863c-5ba5-11e5-8e46-802f12762b8d.png)

[2015-09-16 11:54] charleshaa opened #16 "Authentication token not found"
Hello,

When starting the app with `electron .` after a `grunt buid`, I get a blank window, and in the console:

[code]

Any ideas ?

[2015-09-17 06:54] kokarn commented on #14
Wow, it's been broken for a week but now it works for some reason.

Not sure if it mattered but I pressed "like" directly when it started if there was something wrong with the feed page.

It works when I restart and stay on feed tho, so might've been something else entirely :/

[2015-09-17 23:00] gillesdemey commented on #16
What is it you're trying to do? Just build the app, or run it in development mode to hack on it?

After running `grunt build` you can just run the app from the `dist` folder.

For development you might want to just run `grunt`, this will compile the sources and set up a watcher but not minify the code so you can still debug it.

You can then run it with `NODE_ENV=development electron .` in another

[2015-09-17 23:35] ghs21 commented on #16
Georges Strickaert
dotidam@gmail.com <mailto:dotidam@gmail.com>

Hello,

- I don’t understand : I found this email sent to Cumulus@noreply.github.com <mailto:Cumulus@noreply.github.com>, and this isn’t any of my email accounts ..

- I suggest you to check the reason why. And, if enough time, to advise.

Rgds
GS

===============================================================l======================

[2015-09-18 21:12] CapitanRedBeard opened #17 "Quit button does nothing"
I noticed that the quit button is not doing anything on my OSX Yosemite 10.10.3. Love the app btw

[2015-09-23 14:28] MichielDeMey commented on #17
We're unable to reproduce this issue using the following:

Cumulus 0.4.0
OSX: 10.11
Closing the app using the quit button in the "radar" menu

Which version of Cumulus were you using?

[2015-09-23 14:31] MichielDeMey commented on #15
I've seen this happening before on Windows as well,
cookies are not required for authentication to work though.

Can you login without checking the "remember me" checkbox?

[2015-09-24 17:10] CapitanRedBeard commented on #17
Was using 0.4.0, but after a computer restart it looks like the issue was just me! Closing the issue~

[2015-09-24 17:10] #17 closed

[2015-09-28 05:50] walshie4 opened #18 "Less aggressive closing"
Minor UX thing here, when using the application often I'll accidentally move my cursor outside of the window (usually when using the bottom controls).  This currently causes the window to close right away.  I think it would benefit from a padding distance (or time) to allow the user's cursor to move slightly beyond the window boundaries without causing it to close right away.

Keep up the good wor

[2015-09-28 06:25] walshie4 commented on #18
Whoops forgot I had [Amethyst](https://github.com/ianyh/Amethyst) focus follows mouse on :P

[2015-09-28 06:25] #18 closed

[2015-10-02 11:46] adzymaniac commented on #15
The "remember me" was not checked. Still same warning

[2015-10-08 08:53] maertz commented on #5
That issue hasn't been fixed yet right? Still required a full restart to get the new update or is there some other way? Clicked the other tabs, closed / opened the menu bar but nothing happens :-1: although this thing is just what I was looking for a long time ... so :+1: and thanks for sharing!

[2015-10-08 08:55] maertz opened #19 "Media button prio."
I would appreciate if the media buttons would not cancel the other programs, means if i open / focus itunes the media buttons does not work anymore. If you take spotify in comparision it works just like i would expect from this app. Would be a nice to have.

[2015-10-08 10:21] gillesdemey commented on #5
Hey @maertz this issue is still open.

I'll try to get some work in on Sunday and try to knock this out.

[2015-10-08 11:05] kokarn commented on #5
Would be great!
Only real issue I have with the client at the moment. No stress tho ;)

[2015-10-11 15:11] maertz opened #20 "Repost possibility"
Not sure if the soundcloud API offer that but if you'd like something you can favor it but sometimes you wanna repost that on your wall as well :)

[2015-10-20 20:04] cbrumelle opened #22 "window position is off when using external monitor"
If I plug my laptop (running OSX 10.9.5) into an external monitor, the position of the player window is not correct, and it appears in the middle of the display (looks like it might be in the same absolute position that it would appear on the laptop display?). See screenshot of the external monitor display:
<img width="1281" alt="image 2015-10-20 at 12 54 53 pm" src="https://cloud.githubuserconten

[2015-10-21 09:12] Bitbored commented on #22
Yeah, I think this is an issue with [menubar](https://github.com/maxogden/menubar). I started working on fixing this some time ago, but because of some merge conflict I haven't gotten around to pushing it...

[2015-10-22 16:40] cbrumelle commented on #22
Interestingly, if I build from source as opposed to downloading the prebuilt, it works fine so ... ¯\_(ツ)_/¯

[2015-10-24 15:38] gillesdemey commented on #19
Unfortunately this is how Electron's global shortcuts work, I've been annoyed by this as well but the reality is that Cumulus doesn't control this behaviour.

[2015-10-24 15:41] gillesdemey commented on #20
The repost feature is currently not part of the public API, although it's possible if we use undocumented API calls.

We're currently looking into using SoundCloud's v2 API — this feature will probably be implemented within this effort. see https://github.com/gillesdemey/Cumulus/issues/12

[2015-10-25 08:24] maertz commented on #20
Awesome, thanks :+1:

[2015-10-26 21:12] #5 closed

[2015-10-26 21:25] #19 closed

[2015-10-26 21:32] gillesdemey opened #24 "Logout / Switch Account"
Pretty self-explanatory, users can't log out or switch accounts currently.

[2015-10-30 17:17] killa-kyle commented on #15
I have the same issue. 'remember me' is not checked

[2015-10-30 18:58] aratno commented on #15
Same here

[2015-10-30 19:16] MichielDeMey commented on #13
I suppose we can launch the Window version initially without the media key support?

[2015-10-30 19:21] execat opened #25 "License info"
What license is this project licensed under?

[2015-10-30 19:53] chrismessina opened #26 "Can't cancel/go back after choosing Facebook signin"
When I choose Facebook login but then changed my mind, the Cancel button didn't bring me back to the SoundCloud login page.

[2015-10-30 19:54] chrismessina opened #27 "Incorrect styling of playlists"
For reason [this playlist](https://soundcloud.com/anticon/sets/pictureplane-technomancer-lp-stream) is appearing with strikethrough formatting.

![screenshot_10_30_15__12_51_pm](https://cloud.githubusercontent.com/assets/22610/10856470/34175e9a-7f05-11e5-98c8-b53512bd5876.png)

[2015-10-30 19:56] gillesdemey commented on #27
Hey @chrismessina, this happens when SoundCloud refuses to play back the audio. Some tracks have a form of DRM and do not allow them to be played in anything other than the official SoundCloud website or mobile apps.

[2015-10-30 19:59] chryton commented on #15
Same issue. I tried it both checked and unchecked.

[2015-10-30 20:00] chryton commented on #26
This is also blocking quitting the application to reset the login problem from #15.

[2015-10-30 20:00] ghs21 commented on #27
Thanks To stop To send your e-mails. I didn't ask To receive them and am not interested bye thèse info's 

—
Envoyé avec Mailbox

On Fri, Oct 30, 2015 at 8:54 PM, Chris Messina <notifications@github.com>
wrote:

[2015-10-30 20:27] #15 closed

[2015-10-30 20:36] MichielDeMey commented on #15
Hey guys, we just released v0.5.1 which should take care of this issue!
https://github.com/gillesdemey/Cumulus/releases/tag/v0.5.1

[2015-10-30 20:39] MichielDeMey commented on #27
We need a better wat to convey that the tracks cannot be played.
Any suggestions?

[2015-10-30 21:12] #24 closed

[2015-10-30 21:12] #26 closed

[2015-10-30 21:24] gillesdemey commented on #25
Hey @execat , we chose the standard MIT license and added it to the repo to clarify.

[2015-10-30 21:24] #25 closed

[2015-10-30 21:25] MichielDeMey commented on #26
Hey guys, both issues should be fixed now. :)
https://github.com/gillesdemey/Cumulus/releases/tag/v0.5.2

[2015-10-30 22:48] execat commented on #25
Please merge this as well: https://github.com/gillesdemey/Cumulus/pull/30

[2015-10-31 02:18] sammcj opened #31 "High memory usage"
For such a simple / small application Cumulus' memory usage is very high.

A fresh install and launch easily uses 130MB which is considerably more than many more complex applications (iStats, LittleSnitch, Reeder, Dropbox, iTerm and even mail!).

<img width="280" alt="screen shot 2015-10-31 at 1 15 56 pm" src="https://cloud.githubusercontent.com/assets/862951/10861396/9f416acc-7fd1-11e5-8c05-ab5b3

[2015-10-31 14:35] MichielDeMey commented on #31
Yup, this is because it's not entirely a native application.
(Cross platform support for Cumulus is underway!)

We're using Electron, built by GitHub, which has an embedded WebKit we use to render our application.

[2015-10-31 14:35] #31 closed

[2015-10-31 14:37] kokarn commented on #27
Maybe gray-out with a hover tooltip?

On Fri, Oct 30, 2015 at 9:39 PM Michiel De Mey <notifications@github.com>
wrote:

[2015-11-01 14:11] gillesdemey commented on #22
Hey @cbrumelle has this been resolved with any of the latest releases? I don't currently have access to a second monitor to give it a try.

If it still occurs, I think @Bitbored can take a look at this.

[2015-11-01 20:12] chrismessina commented on #27
Is there any reason why you wouldn't just not show these tracks if they can't be played?

[2015-11-01 20:59] Bitbored opened #32 "Album cover art showing play-pause overlay when clicked"
When playing a track of an album and clicking the album cover art, the play-pause overlay get's added to the album's cover art. This is inconsistent with just playing the album after another song or just playing a song of the album.

![schermafdruk 2015-11-01 21 51 54](https://cloud.githubusercontent.com/assets/1408377/10871303/612adec2-80e3-11e5-9cd7-cf80683ae7d0.png)

[2015-11-01 21:07] Bitbored commented on #27
Currently we only mark the song as not being playable when attempting to stream it fails.
I am not sure, but maybe the `embeddable_by` or `sharing` property is useful to mark / filter out non-stream-able content in advance?

Either way, just hiding the content might cause some more "my feed is not the same as the one on the soundcloud website" confusion.

[2015-11-02 08:03] kokarn commented on #14
This is still an issue apparently. It worked for a couple of weeks and then it started doing the same thing again.
I'm now on 0.5.2 and I either get "Sorry, something went wrong" or it loads forever.
If i get the message, the loading finishes in like 1s.

Anything i can do to help debug?

[2015-11-02 14:14] MichielDeMey commented on #27
@Bitbored is correct.

We currently haven't found a way to know which songs can and which cannot be played beforehand.
The error gets thrown when we actually try to play the song, so sorry for that.

Second, we debated about just removing the songs altogether in the past but eventually decided not to do this for UX reasons.

It's entirely possible - and even very likely - that you want to listen t

[2015-11-02 22:27] arslion opened #33 "add search soundcloud option as well"
add this option so that people can never leave your app.

[2015-11-02 23:01] cbrumelle commented on #22
Latest release seems good!

[2015-11-02 23:01] #22 closed

[2015-11-03 03:49] mahmoudajawad opened #34 "Signing-in with Google does not work"
Hello,,

My Soundcloud account is associated with a Google account, i've never had a standalone Soundcloud account. When i tried to start Cumulus i was prompted with the authorization window, where i chose "Sign-in with Google", it opened a new window with Google Accounts interface asking me for my credentials, after inputting that the page started to reload with the window title changing to "Conn

[2015-11-03 10:59] #33 closed

[2015-11-03 10:59] Bitbored commented on #33
Duplicate of #1

[2015-11-03 11:02] Bitbored commented on #34
What happens when you restart the app? Does it ask for authentication again, or does it fail to start with a blank page?

[2015-11-03 11:05] arslion commented on #1
It has to be there. most people want to listen to new songs as well, or from a specific artist/genre etc.

[2015-11-03 11:13] gillesdemey commented on #34
It's possible that Google uses a different query string parameter, I'll take a look at it.

[2015-11-03 11:43] Bitbored commented on #1
We already looked into a search feature, but it quite a lot of work. Mainly because it requires some pretty complex additions to the UI to make it work properly. Keeping things simple is one of the main goals of this app, if you want to have a complete Soundcloud experience there plenty of [alternatives](http://alternativeto.net/software/cumulus/) available.

There are still a lot of things that n

[2015-11-03 14:22] niftylettuce commented on #1
There's a lot of demand for this.  Do you want people to use Cumulus or do
you want them to use other terrible apps that aren't open source.
On Nov 3, 2015 6:43 AM, "Seppe Stas" <notifications@github.com> wrote:

[2015-11-03 14:32] MichielDeMey commented on #1
Currently, this is nothing more than a weekend project that suddenly got a lot of attention.

The unfortunate reality is that all of our core contributors have a full time day job and spend their precious spare time working on this project to get it in the best shape possible.

A search feature - as explained multiple times - is not a trivial feature to add and we have little time to invest in suc

[2015-11-03 14:33] niftylettuce commented on #1
Awesome.  Can one of us submit a PR for review then?!! :thumbsup:
On Nov 3, 2015 9:32 AM, "Michiel De Mey" <notifications@github.com> wrote:

[2015-11-03 15:13] AjawadMahmoud commented on #34
@Bitbored, it does show the same Soundcloud authorization window again, however, if i click on "Sign-in with Google" it opens a new window with the title "Connecting..." which means it's still having my Google Account authorization info there, but the redirecting part is not happening. can someone check if it's reproducable on other platforms and other devices?

[2015-11-03 17:55] ghs21 commented on #34
STOP SENDING E-MAILS TO THIS GUY GILLES DEMEY/CUMULUS : ALL YOUR MAILS ARE
COMING IN MY GMAIL INBOX dotidam@gmail.com
HOPE NO RECALL WIIL BE NEEDED

2015-11-03 4:49 GMT+01:00 Mahmoud Abdul Jawad <notifications@github.com>:

[2015-11-03 18:38] gillesdemey commented on #34
Hello ghs21,

It appears that you have watched the Cumulus repo.

You can stop receiving these emails by clicking “unwatch” on the project’s page here https://github.com/gillesdemey/Cumulus/watchers.

Kind regards,

Gilles

[2015-11-04 00:54] ghs21 commented on #34
Georges Strickaert
dotidam@gmail.com

[2015-11-04 03:32] AjawadMahmoud commented on #34
@ghs21, dude! @gillesdemey instructions were clear; login to GitHub, go to this https://github.com/gillesdemey/Cumulus and then from the top right "watch" menu choose "Not Watching". After that, choose to "Unsubscribe" to this issue by opening https://github.com/gillesdemey/Cumulus/issues/34 and choose "Unsubscribe" from the right menu.

[2015-11-04 05:34] Bitbored commented on #34
@ghs21, see this: https://help.github.com/articles/unsubscribing-from-conversations/

[2015-11-04 05:37] Bitbored commented on #34
Oh crapp, we should also stop mentioning him apparently... My fault.

[2015-11-04 19:26] emhagman commented on #27
May I suggest we just steal what SoundCloud does on Android?
<img src="https://dl.pushbulletusercontent.com/eIVtaFzi1KfSRkLdPW9pkA24X5miJDFj/Screenshot_20151104-142439.png" height="500" />

[2015-11-05 18:37] emhagman commented on #11
I am working on support for this right now. Should have a pull request in within a few days.

[2015-11-08 00:53] jaflo opened #35 "Media buttons trigger other players"
Media buttons control both Cumulus and other players. To replicate open Cumulus and another application (such as VLC). Then try using the keyboard buttons. Both applications respond.

[2015-11-08 17:21] gillesdemey commented on #35
I can't get them to respond both, VLC does however swallow the media key events. I'll look into this but this is very likely a duplicate of https://github.com/gillesdemey/Cumulus/issues/19.

[2015-11-12 17:00] MichielDeMey commented on #34
We believe that Google does not support non http oauth callbacks.
Since we're using an application specific protocol (cumulus://) this might be difficult to solve without setting up an external backend for Cumulus to handle oauth callbacks.

The latter is not immediately on our to-do list. :)

[2015-11-12 19:47] AjawadMahmoud commented on #34
Alright, I suppose I need to work on it myself then. Maybe.
Let me see what I can do when I get time.

[2015-11-16 10:50] Glennvd opened #36 "Add high resolution icon for retina display"
I couldn't help but noticing that you guys included retina icons in your source, however, it looks like these either don't get used or are still in a far too low resolution. The icon looks really cripsy compared to others, see example: http://glennvandam.me/upload/Screen-Shot-2015-11-16-11-49-08-4P1lJg0lOs.png

[2015-11-25 12:18] agoldis commented on #20
+1

[2015-11-28 20:07] #36 closed

[2015-11-30 09:01] Glennvd commented on #36
Looks better indeed! Thanks

http://glennvandam.me/upload/Screen-Shot-2015-11-30-10-01-14-PKGIvpZiAx.png

[2015-12-02 20:46] quentinlesceller opened #37 "Cumuls failed to retrieve feed"
When started, Cumulus try to retrieve the music from the fed tab but the app never stop loading (See screenshot 1).
![screenshot 1](https://cloud.githubusercontent.com/assets/11842328/11543572/79624c6a-990b-11e5-9cb3-8cdc1db3676d.png)
When I click on the "Like" tab, the music are retrieved. Then, when I click on the "Feed" tab, I have the message "sorry something went wrong" (see figure 2).
![scre

[2015-12-02 22:18] kokarn commented on #37
I think this is a dupe of #14, or at least related

[2015-12-05 05:33] xnutsive commented on #14
0.5.3, seeing “something went wrong” only on the feed tab.

[2015-12-05 16:41] gillesdemey commented on #14
Hey guys,

I'm trying to replicate this bug — but have been unable for a while.
Can you run the app in debug mode and report the error log? The instructions are in the README.

If anything is unclear feel free to ask question.

[2015-12-07 13:57] mutewinter commented on #14
Also seeing this bug for the last week. I deleted the app and all supporting files, reinstalled, still "Sorry, something went wrong" only on the feed tab. App had been working for weeks and suddenly stopped. I'll run in debug mode and report back once I get a moment.

[2015-12-08 18:34] gillesdemey commented on #14
I think I've figured this one out. I've just recently ran into a weird edge-case myself. I've just released a new version — let me know if that fixes the issue for you.

https://github.com/gillesdemey/Cumulus/releases/tag/v0.5.4

[2015-12-08 18:35] gillesdemey commented on #37
This might indeed be a duplicate as @kokarn mentioned.

That being said, I've released a new version that takes care of a particular edge-case that might solve this issue.

https://github.com/gillesdemey/Cumulus/releases/tag/v0.5.4

[2015-12-08 18:38] quentinlesceller commented on #37
Issue solved ! Thank you !

[2015-12-08 18:38] #37 closed

[2015-12-09 08:12] kokarn commented on #14
I'll close this for now and if it reappears i'll re-open it.

Thanks for having a look!

[2015-12-09 08:12] #14 closed

[2015-12-10 15:40] mutewinter commented on #14
Also confirmed fixed.

[2015-12-10 16:32] mutewinter opened #38 "Include Liked Playlists in LIKES or PLAYLISTS Tab"
Soundcloud puts them in the Playlists area, which seems fine.

![screen shot 2015-12-10 at 10 31 59 am](https://cloud.githubusercontent.com/assets/305901/11721412/49cf7d0a-9f29-11e5-9f44-91ddede49eea.png)

[2015-12-11 14:44] MichielDeMey opened #39 "Add Auto-Updater feature"
Look into adding support for auto-updating.

https://github.com/atom/electron/blob/master/docs/api/auto-updater.md

[2015-12-16 15:20] killa-kyle opened #40 "Custom Keyboard Shortcuts"
It would be nice to be able to "Like" the current playing song with a keyboard shortcut.
I love the ability to go through my Soundcloud feed with the keyboard media buttons, and being able to like tracks as I hear them would be useful.

[2015-12-20 12:24] jpknegtel commented on #38
Second this!

[2015-12-31 17:39] bogas04 commented on #39
For now you can add the repo to brew cask just like [caprine](https://github.com/sindresorhus/caprine) is.

[2015-12-31 18:21] bogas04 opened #41 "Use ES2015 syntax for React"
I can work on it.

## How ?
browserify can use babelify transform with es2015 preset. I think we can even use react transform of babel and stop reactify, would give better control for syntax transform via just babel.

Once the tooling is setup, we can manually convert each component (I know it's lil hard but worth it)

## Why ?
* Will help new contributors to understand code better (ES2015 classes

[2016-01-01 10:59] bogas04 commented on #1
I'm no designer but I think we can include a search button in <Header> which overlays a input above list items. A close button/back button would hide the search bar and restore initial look.

Excuse my paint skills

![screen shot 2016-01-01 at 4 17 37 pm copy 2](https://cloud.githubusercontent.com/assets/6177621/12070598/b46124f2-b0a4-11e5-9b7b-1fa50f2094d0.png)
![screen shot 2016-01-01 at 4 17 37

[2016-01-01 18:18] ravjot28 opened #42 "Playlist, feed and likes pages not getting loaded"
When i successfully log in and try to access Playlist, feed and likes pages i see weird orange circular animation it is weird coz i can only see right top part of the circle only rest is invisible and after some time i get a message Sorry, something went wrong.

PFA the screenshots
<img width="316" alt="screen shot 2016-01-01 at 1 18 00 pm" src="https://cloud.githubusercontent.com/assets/5196834/1

[2016-01-01 18:23] gillesdemey commented on #42
What version of Cumulus are you using?

[2016-01-01 18:24] ravjot28 commented on #42
0.5.4

[2016-01-02 06:36] bogas04 opened #43 "Use doorhanger (arrow) UI for native look and feel"
Usually menu bar apps use a door hanger in OSX, which is also used at several places in the OS itself.
It can be implemented as explained in https://github.com/maxogden/menubar/issues/100#issuecomment-168311340

![Example Screenshot](https://cloud.githubusercontent.com/assets/6177621/12066986/be8e7cdc-b017-11e5-96cb-73ad01a6bb65.png)

[2016-01-02 23:14] gillesdemey commented on #43
I've tried this before, but that means sacrificing the native shadow placed on the window. Unfortunately you can't add a shadow back in using something like `box-shadow`, so I've decided to go without a door hanger for the initial release.

[2016-01-02 23:16] gillesdemey commented on #40
I've contemplated this feature as well, unfortunately Atom's global shortcuts take over any other similar shortcut defined across your system so we'll have to some up with something pretty unique for Cumulus. Feel free to make a suggestion! :)

[2016-01-02 23:20] gillesdemey commented on #38
I hear you, I wanted this to be part of the initial release too.

Sadly, SoundCloud's API does not support "liked" playlists. SoundCloud's v2 API does however support these operations but aren't considered "stable" yet.

I'm working on a client for their latest API but haven't gotten around to reviewing it and implementing it.
https://github.com/gillesdemey/soundcloud-v2

[2016-01-02 23:22] gillesdemey commented on #39
I'll look into leveraging Cask as a stopgap measure.

[2016-01-02 23:22] gillesdemey commented on #35
Duplicate of #19

[2016-01-02 23:22] #35 closed

[2016-01-21 09:31] andersfischernielsen opened #44 "Show Cumulus window at current sound when clicking OSX notification"
It'd be awesome if the Cumulus window would appear displaying the current sound playing when the user clicks the "sound changed" OS notification (I don't know if Windows shows a similar notification).

![screen shot 2016-01-21 at 10 26 04](https://cloud.githubusercontent.com/assets/5990738/12476440/9739a5d6-c029-11e5-8adf-e25442ab5de6.png)

The feature could, as far as I can see, be implemented by

[2016-01-21 09:39] andersfischernielsen commented on #44
It seems like the app uses default Electron notifications.

    //Found in "currentTrackStore.js"

    function _showNotification(track) {
      if (document.visibilityState !== 'hidden') return
      new window.Notification(track.user.username, {
        body : track.title,
        icon : track.artwork_url,
      })
    }

OnClick-events are supported by using:

    var myNotification = new Notif

[2016-01-21 13:10] andersfischernielsen opened #45 "Cumulus "steals" play/pause buttons on MacBooks"
The keyboard play/skip/pause buttons on Macs are "stolen" from other apps supporting these when Cumulus is running.

If iTunes/Spotify is running, has been playing sound most recently, and Cumulus is open, the play/pause/skip buttons should control iTunes/Spotify (regular system behaviour). They do not, though. Cumulus is always reacting to the button presses, and iTunes/Spotify does not.

[2016-01-22 12:55] andersfischernielsen commented on #40
Cmd+Alt+L doesn't seem to be used very often by apps on OS X. :)

[2016-02-01 14:44] chloesil commented on #42
I am also having this problem, on the same version.

[2016-02-01 15:54] MichielDeMey commented on #42
If you're up to the task, you can try and replicate the issue using a development build.
That way you have access to the dev console and are able to check the stack trace. :)

[2016-02-03 03:34] chloesil commented on #42
@MichielDeMey I would love to help but honestly I don't know how to do what you're suggesting!

[2016-02-15 22:29] jdsimcoe commented on #45
Personally, I like that they "steal" the default play/pause buttons. I think this is one of its selling features.

[2016-02-15 22:30] jdsimcoe opened #46 "Add a Shuffle button"
I can't find a way to "shuffle" songs or playlists. It would be killer to have this feature (unless I'm missing something).

[2016-02-24 11:37] rnarian commented on #42
I just installed the app and ran into a similar problem. Everything seems to work fine until I open the playlists tab. After that all tabs show the "sorry something went wrong" error message:

![untitled](https://cloud.githubusercontent.com/assets/1174951/13283855/95762788-daf0-11e5-8fd4-1fc69d5a0154.gif)

[2016-02-24 12:12] rnarian commented on #42
I just built the app from source, but I am experiencing the same behavior. Unfortunately no errors are showing up:

![untitled](https://cloud.githubusercontent.com/assets/1174951/13284982/2bbc4388-daf8-11e5-938b-8abab1f627f8.gif)

[2016-02-24 21:34] Mc01 opened #47 "Debug window in development mode is not responding"
After starting Cumulus in development mode I cannot interact with debug window.
It looks like it has been drawn once on my wallpaper and I cannot interact with it.
At screenshot you can see icons and cursor selection on my desktop over it.

<img width="1280" alt="screen shot 2016-02-24 at 22 29 14" src="https://cloud.githubusercontent.com/assets/2324400/13301652/49f803fc-db46-11e5-9710-2d62d8f48a6

[2016-02-25 06:39] andersfischernielsen commented on #45
The default system behaviour is that the most recently used app reacts to the play/pause/skip buttons.

Say you have Spotify and iTunes open, and you've used Spotify most recently. Then iTunes won't start playing if Spotify is active/in focus.

IMO Cumulus should do the same, since it's system behaviour.

[2016-02-25 06:40] andersfischernielsen opened #49 "Cumulus does not react to headphone controls"
On OSX El Capitan Cumulus does not pause/play when a clicker on a pair of headphones is used for controlling the music.

[2016-02-28 13:13] gillesdemey commented on #49
Do the headphone clickers work with iTunes? Cumulus (Electron) is just hooking into the global Play / Pause events and reacting to those.

[2016-02-28 13:24] gillesdemey commented on #47
Fixed in #48

[2016-02-28 13:24] #47 closed

[2016-02-28 13:27] gillesdemey commented on #45
Cumulus cannot change the behaviour of how the global key listeners are set up (see #19), if you think that this is still an issue please file one with Electron :)

[2016-02-28 13:27] #45 closed

[2016-02-28 13:28] gillesdemey commented on #43
I'm closing this one as there is currently no way to have a doorhanger combined with the shadow drop using Electron.

[2016-02-28 13:28] #43 closed

[2016-03-02 23:05] Mc01 commented on #42
@rnarian I believe you can try this with new version (>=0.5.7), which has debugger inside main window.
#48

[2016-03-02 23:06] Mc01 commented on #38
After testing #50 this issue can be closed? :)

[2016-03-02 23:17] gillesdemey commented on #38
I've released this as version 0.6.0, with a PR from @Mc01.

[2016-03-02 23:17] #38 closed

[2016-03-03 15:02] Mc01 commented on #42
I'm guessing that I had today this issue.
In my case it was connected with: http://stackoverflow.com/questions/33485387/soundcloud-api-returning-0-tracks-despite-user-having-tracks
Here's the screenshot with errors. (it broke on empty playlist)
<img width="926" alt="screen shot 2016-03-03 at 15 52 58" src="https://cloud.githubusercontent.com/assets/2324400/13498182/3b7a3048-e159-11e5-8156-58a61cea

[2016-03-03 15:10] Mc01 commented on #42
If you want to replicate issue. Save this track as a new playlist: https://soundcloud.com/dewprocess/last-dinosaurs-zoom

[2016-03-03 18:40] #42 closed

[2016-03-05 16:12] andersfischernielsen commented on #45
Cool, thanks for addressing this. :)

[2016-03-05 16:13] andersfischernielsen commented on #49
Yeah, the headphone clickers work perfectly with iTunes and Quicktime (though not Spotify).

[2016-03-07 13:14] frdmn opened #52 "Use 0-9 numeral keys to skip into 0%, 10%, 20%, 30%, ..., 90% of the current track"
Quite a lot of web players offers such a feature (YouTube.com, SoundCloud.com, Vimeo, DailyMotion) and I would love to see this in Cumulus as well. :)

[2016-03-09 09:09] rnarian commented on #44
The problem remains if you skip a few tracks (via the media keys) and open up the app again. Wouldn't it make more sense if the app automatically scrolls to the current playing track whenever I focus the app window. This should solve @andersfischernielsen&#65279;s issue as well?

[2016-03-09 09:21] rnarian opened #53 "Option to disable notification sounds"
Right now the app plays notification sounds on every track change, which is a bit annoying. At least to me, as I'm mistaking it for a chat notification. (Telegram uses the same notification sound.)

[2016-03-09 09:22] rnarian commented on #52
:+1:

[2016-03-09 09:25] gillesdemey commented on #53
This has been added in a recent version of Electron, I'll look into a way to disable the sound — in the interim you can disable notification sounds using System Preferences in OSX :)

[2016-03-09 09:34] rnarian commented on #53
Ha! Didn't even think about that. :trollface:

Thanks man!

[2016-03-09 10:58] vjanssens commented on #49
To be clear, I think Anders means the middle button on the [Apple EarPods](http://www.apple.com/nl/shop/product/MD827ZM/B/apple-earpods-met-afstandsbediening-en-microfoon). I can confirm this button does not 'pause' the music when pressed once. Using OSX El Capitan + latest version of Cumulus.

Next, previous, pause/play buttons on my keyboard work as expected.

[2016-03-10 09:16] andersfischernielsen commented on #49
Exactly. :)

[2016-03-25 10:43] MichielDeMey commented on #53
Fixed in https://github.com/gillesdemey/Cumulus/pull/55! ;)

[2016-03-25 10:43] #53 closed

[2016-03-25 14:08] MichielDeMey commented on #49
I can confirm this issue.
Volume buttons on the side work as expected, but the middle button seems to open iTunes.

We're going to look into this to see if we can capture the middle button, but don't get your hopes up. :)

[2016-03-29 18:29] frenchbread opened #56 "Volume controller?"
Would be nice to have a volume controller build into player itself. When there are couple of audio streams (from different sources), that would be useful.

[2016-03-30 11:41] florianwestermann opened #57 "Playlist doesn't load"
i've deleted all my playlists form the webclient, and created one new. following things i noticed:
- had to logout/login to see the changes
- my new playlist (public) is still not inside cumulus - i get the info «you don't have any playlists»

[2016-03-30 12:20] Mc01 commented on #57
It may be related with what is being exposed by Soundcloud API. Check if tracks and playlists are streamable, if not it they may be hidden in API.

[2016-03-30 12:39] florianwestermann commented on #57
yeps, likes + feed still streamable. playlist tracks work on the webclient. logged out and back in, still not showing up.

[2016-03-30 15:07] Mc01 commented on #57
Web client from Soundcloud does not use API. You could check what API returns in a debug mode of Cumulus.

[2016-03-31 11:17] florianwestermann commented on #57
well, i'm just a UI designer with a github account. so debugging is not my core competence haha

[2016-04-15 23:32] frdmn commented on #40
:+1:

[2016-04-16 21:57] frdmn commented on #57
@florianwestermann Do you have Node and `npm` installed locally? If you do, just follow the steps below:

1. Clone this repository:

[code]

1. Install Electron and Grunt CLI globally:

[code]

1. Install dependencies of Cumulus:

[code]

1. Compile assets (Once you see `Running "watch" task`, hit <kbd>CTRL</kbd> + <kbd>C</kbd> to cancel and exit Grunt.):

[code]

1. Run Cumulus with DevTools:

[c

[2016-05-03 01:34] ricburton opened #59 "Don’t take over my Play/Pause button unless the app has recently played audo"
Love the app! I also use Vox. This app is taking over the play/pause controls there which can be a little annoying.

Would happily pay $5-10 for an app like this.

[2016-05-17 01:18] mactkg commented on #59
impl hint...:
we need to toggle registration of globalshortcut which are registered [here](https://github.com/gillesdemey/Cumulus/blob/master/index.js#L112-L134) whether the app is focused or not

[2016-05-21 15:57] killa-kyle commented on #40
I submitted a pull request for this (#61). Went with @andersfischernielsen 's Cmd+Alt+L and it works well for me¯\_(ツ)_/¯

[2016-05-30 13:09] jneubrand commented on #49
Recently came across this: https://github.com/wmttom/MikeyPlay – clearly, it's _possible_, but I'm not sure how this should be handled in Cumulus. Maybe we can ask the electron team to implement headphone button capturing?

[2016-06-06 01:46] felipeptx commented on #27
Hi guys! Good to see you engaged on improving this nice app. Another good suggestion would be sort playlists in groups minimized rather than all of them opened. I'm not sure if there's another topic approaching this topic, but this is the only SoundCloud client I've found with these features, but a bit uncomfortable because It's needed to roll down through all playlists to find a song in the very

[2016-06-08 15:09] felipeptx commented on #46
And a repeat button! It's not a big deal, definitely…

[2016-06-08 15:13] felipeptx opened #62 "App stops playing when setting button is pressed"
I really don't know why, but it simply stops playing when I click on settings button. When I close, it starts playing again… Has someone else gone through the same problem?
cheers

[2016-06-08 15:18] felipeptx commented on #62
![screen shot 2016-06-08 at 16 11 10](https://cloud.githubusercontent.com/assets/16515477/15899731/9d4ab7ca-2d94-11e6-809e-e92c7e2288c6.png)

[2016-06-09 05:26] JokerQyou commented on #34
I have a different error when I try to login with Google account, as this screenshot.
![image](https://cloud.githubusercontent.com/assets/1465267/15919619/abaa0c24-2e45-11e6-983d-4d91ad78b382.png)

[2016-06-20 19:36] slydeveloper opened #63 "App has crashed after click on "Sign in with Google""
![cumulus](https://cloud.githubusercontent.com/assets/7541769/16207735/08dba9a6-372f-11e6-937e-14ffc9260558.png)
v0.7.1

[2016-06-23 11:12] gillesdemey commented on #62
I can replicate this as well, I'll look into it.

[2016-06-23 11:25] #56 closed

[2016-06-23 12:13] sergiuprt opened #64 "ubuntu/other linux distros"
hey guys! can you port Cumulus on linux? it is a nice soundcloud client, beautiful one, is there a possibility to port it?

[2016-06-23 12:20] gillesdemey commented on #64
Not impossible, but your mileage may vary greatly depending on what distro you're using.

The menubar library that we're using (https://github.com/maxogden/menubar) has been tested on xfce4, but there have been various bug reports on other desktop environments (most notably Ubuntu with Unity).

I'm willing to accept patches that enhance the experience on Linux — and if someone can confirm that it

[2016-06-23 12:27] sergiuprt commented on #64
i'm on ubuntu 16.04, with unity, and many others users..
i can't code it, but i'm ready to test it whenever is needed and to find others testers.. also to contribute on sharing..

[2016-06-26 11:22] BobQuentok commented on #63
Same error
Cumulus 0.7.1
OS X 10.11.5 (15F34)

[2016-06-27 06:50] frenchbread commented on #56
Awesome! Thanks.

[2016-06-28 11:18] bahhhhh opened #65 "[Feature Request] Suggested Tracks"
SoundCloud recently released [a new feature called Suggested Tracks](https://blog.soundcloud.com/2016/06/22/introducing-suggested-tracks/). You can access this new section by going to [the Discover section](https://soundcloud.com/discover) on the website.

Having this Discover tab in the app would be great!

[2016-06-28 12:16] MichielDeMey commented on #63
Duplicate of https://github.com/gillesdemey/Cumulus/issues/34.
Feel free to discuss/report the issues further over there.

[2016-06-28 12:16] #63 closed

[2016-06-28 12:19] MichielDeMey commented on #65
Unfortunately, it doesn't look this new feature is part of the public API.
It is however a great feature that we'd like to see in the app.

Any help regarding this issue is appreciated. :)

[2016-07-25 10:22] bendingtime commented on #49
Nothing is needed just install [spotify bluetooth headset listener](https://github.com/jguice/mac-bt-headset-fix) and it will work perfectly.

[2016-07-28 12:47] seppestas commented on #64
This app does not work on Ubuntu or other distros using [libappindicator](https://launchpad.net/libappindicator) since [the new API explicitly prevents this type of app](https://wiki.ubuntu.com/DesktopExperienceTeam/ApplicationIndicators).

Ubuntu protects you from the inconsistency that comes with apps that try to be fancy, instead offering you a beautifully consistent gray smudge.

I'm trying to

[2016-07-29 09:38] #49 closed

[2016-07-29 09:49] seppestas commented on #49
I personally use [BTHSControl](https://github.com/JamesFator/BTHSControl). It's a bit quirky sometimes, but mostly it works.

[2016-07-29 13:11] seppestas commented on #64
Closing since this issue is caused by Linux desktop environments, not Cumulus itself.

[2016-07-29 13:11] #64 closed

[2016-08-23 21:25] mzdr commented on #62
This is related to [electron/issues/1854](https://github.com/electron/electron/issues/1854) since you are creating the Menu from the renderer process as well. Moving it to the main process will stop the audio from pausing. Unfortunately some other parts remain buggy like the progress bar for example.

This is going to need quite some ipc related refactoring… 😕

[2016-08-25 15:07] seppestas commented on #62
Maybe we could replace the menu by a React component inside of the app?

[2016-09-01 16:31] walshie4 opened #67 "Fresh install - trying to sign in via Google"
When doing so I am prompted with the following error and then Cumulus goes unresponsive.

![image](https://cloud.githubusercontent.com/assets/945703/18175655/e928c93c-7026-11e6-8bbe-8f464cbce2f0.png)

[2016-09-01 16:39] MichielDeMey commented on #67
Duplicate of https://github.com/gillesdemey/Cumulus/issues/34

[2016-09-01 16:39] #67 closed

[2016-09-19 14:55] virtualize opened #68 "Sound output source switching is ignored"
Thanks for the app. Love it! But also found an unpleasant bug:
If a song is playing and I switch the output source (e.g. in osx sound preferences from internal to usb soundcard or cinema display) the switch is simply ignored. Have to quit cumulus, switch source, start cumulus. I'm usually switching a few times a day between headphones and speakers, so this is quite annoying.

[2016-09-20 18:25] MichielDeMey commented on #68
I've seen the exact same issue on Spotify (macOS) as well, which leads me to believe the issue extends beyond Cumulus.

[2016-09-20 18:26] seventyeight opened #69 "Does not work behind proxy"
Cumulus ignores proxy settings from System Settings on Mac. How can i set them?

[2016-09-20 18:43] virtualize commented on #68
I'm also using https://github.com/Soundnode/soundnode-app (also basically JS / Soundcloud API) and there switching sound sources works flawlessly. Maybe this could help as pointer.

[2016-09-20 18:49] MichielDeMey commented on #68
They uses nw.js instead of electron, which is a different engine. We'll look into this, but the problem (and possible solution) is probably in the electron source.

[2016-09-20 19:13] virtualize commented on #68
Ok. Thanks for taking the time.

[2016-09-25 17:59] kkorus opened #70 "Browserify takes too much time"
Do you know why Browserify takes so much time to run it? Each time I run `npm run compile` it takes like 35-40 seconds.

[2016-09-25 18:01] #70 closed

[2016-10-02 12:29] gillesdemey commented on #16
I'm going to close this issue due to lack of response and I can't seem to be able to reproduce this

[2016-10-02 12:29] #16 closed

[2016-10-02 12:29] gillesdemey commented on #27
@felipeptx Would you mind opening a separate issue for that so we can track it individually?

[2016-10-02 12:38] gillesdemey commented on #69
Node's Request module seems to be ignoring system proxy settings, and managing proxies inside Cumulus is a complex task I'm not immediately willing to take up.

A proper solution could be moving the fetching of the tracks from the Node process to the render (browser) process but this requires a major refactor of the code base.

[2016-10-14 11:18] gillesdemey commented on #69
Maybe you can share what environment variables are picked up by Electron so others with a similar issue can use a proxy to connect? 🙂

[2016-10-16 21:06] tobz-nz opened #71 "[feature request] add support for radio stations"

[2016-10-16 21:07] tobz-nz commented on #71
... actually - I don't think there is any API's for this yet..

[2016-10-21 12:32] faroit opened #72 "OS X hidden menubar results in wrong player position/margin"
macOS allows to hide the menubar since 10.11. This seems to confuse cumulus window position a bit....

![screen shot 2016-10-21 at 14 27 05](https://cloud.githubusercontent.com/assets/72940/19598389/b797141e-979a-11e6-97e4-0e248666c283.png)

I don't know if it's possible to check if menu does exist and then readjust the players position? that would certainly look better.

Thanks for this great pro

[2016-10-27 14:25] evanknight opened #73 "Show who reposted the track?"
Website shows who reposted the track – which I find useful for choosing what to listen, since I follow lots of different artists.
![web](http://i.imgur.com/UuQcG7Y.png)

Not sure if allowed by API, but it would be nice to see it inside this cell in the home feed.

![cumulus](http://i.imgur.com/cM54LyR.png)

[2016-10-31 11:59] Klustre opened #74 "Like Playlist"
Would love to like playlists. Right now I can only like a song from a playlist.

[2016-10-31 20:14] seppestas commented on #52
On it

[2016-10-31 20:40] seppestas commented on #13
Pff, I'll never get this fixed in time for Hacktoberfest XD

[2016-10-31 20:47] seppestas commented on #73
Mmh, this might make the interface a bit cluttered. It might solve #74 as well though.

I guess by "who reposted the track" you mean the "like" counter? It looks like it is possible to get a list of the users who liked a track / collection, but I think that functionality is definitely outside of the scope of this program.

[2016-10-31 21:26] seppestas commented on #72
Interesting issue, nice catch!

I think having the menu bar locked to show while the app is visible makes the most sense since this seems to be the behaviour of regular menus registered on the menu bar. However, apps like dropbox and google drive do not seem to have that behaviour, so I'm not sure if it going to be possible.

Either way, I think this will require some changes in Electron or even C

[2016-10-31 22:34] seppestas commented on #40
This was fixed in #61

[2016-10-31 22:34] #40 closed

[2016-11-09 21:25] chloesil commented on #73
@seppestas I THINK what @evanknight is asking for, is to see who reposted the track (why it shows in the feed. I.e. the information above: "Underground Hip-Hop" is missing from the Cumulus view. Apologies if I misunderstood the ask, but I'm going to go ahead and ask for this feature because I want it >:)

[2016-11-10 08:59] seppestas commented on #73
@chloesil oh, I guess you are right. I think this should be easy to do if the API supports it, the hardest part will be to nicely integrate it in the UI...

Personally I don't really use this feature, which is why I misunderstood the question. Thanks for clearing it up.

[2016-11-16 18:02] FoxxMD commented on #40
Cmd+Alt+L is used by [Intellij](https://www.jetbrains.com/idea/) to reformat code. Took me forever to figure out Cumulus was hijacking it :/

[2016-11-16 18:08] gillesdemey commented on #40
@FoxxMD I'm sorry this is happening to you, I hope this hasn't impacted your workflow too much.

I propose to add this behaviour as a setting that you have to opt-in to.

[2016-11-16 21:03] seppestas commented on #40
To bad OSes (or at least macOS) don't have a way to centralize shortcuts for applications.

Imagine an API applications have to use to register all shortcuts and the scope in which they are used. This would allow the the OS to detect collisions and tell the user. Please, someone make this happen!

[2016-11-16 22:05] FoxxMD commented on #40
@seppestas in a perfect world!

@gillesdemey It's no problem since I figured it out!

Opt-in would definitely be a better behavior.

Or document it in an obvious place inside the app or on the homepage. I shouldn't have to dig through github issues to find out there's a global shortcut that overrides everything else in my system ;) If I was a normal user (read: not a developer myself and unfamilia

[2016-11-30 09:18] 3rd-Eden commented on #15
Just tried the latest version, 8.0 and it's having these issues as well.

[2016-12-12 13:52] bagonyi opened #77 "Global keyboard shortcut for 'Like' is stealing shortcut from other apps"
8fa2c2b introduced "Added global keyboard shortcut for 'Like' (Cmd+Alt+L)".

It took me a couple of days to hunt down the app that was stealing my "Reformat code" shortcut in IntelliJ. It would be nice if either the shortcut was configureable, could be made disabled, or at least somehow indicate the fact with a toast message or something that Cumulus is eating up the shortcut and suppressing it fo

[2016-12-13 09:56] seppestas commented on #77
Duplicate of @FoxxMD's comment in #40.

I think we should probably make the global "Like" shortcut feature opt-in and configurable. Or at least warn IntelliJ users XD.

[2016-12-27 15:06] #52 closed

[2017-01-04 19:59] Hum4n01d opened #78 "Choose different feed source"
It’s nice to play from my feed but I’ve already heard everything there! Could it be possible to enter a profile or song url to play music from?

[2017-01-10 02:42] Hum4n01d commented on #46
@jsoizo I’m now using your fork locally :)

[2017-01-10 14:29] FoxxMD opened #80 "Liked indicator doesn't always works for previously liked tracks"
I don't think this is consistent (or I haven't noticed it consistently) but sometimes a tracks that I have already liked doesn't show as "liked" in Cumulus:

![screen shot 2017-01-10 at 9 27 27 am](https://cloud.githubusercontent.com/assets/4663766/21809791/28330122-d717-11e6-8251-59d147ecfdc0.png)
![screen shot 2017-01-10 at 9 27 44 am](https://cloud.githubusercontent.com/assets/4663766/21809795/

[2017-01-12 21:53] zachmoody opened #81 "Resume Skips to Next Track"
Wondering if anyone else has seen this before. When I pause a track for a while and come back it'll resume where I left off for ~30s then skip to the next track in my stream. It seems to have started around `0.8.0` and is still doing it on `0.9.0`.

[2017-01-17 14:38] seppestas commented on #81
Hey @zachmoody, could you specify in what environment (operating system, window manager, ...) you have this issue?

[2017-01-17 14:49] zachmoody commented on #81
Hey, sorry, MacOS 10.12.2

[2017-01-29 19:51] bbblueboy opened #84 "Needed search feature within app"
There is no search option and I think that would be an awesome feature to add!

[2017-01-29 20:02] gillesdemey commented on #84
Duplicate of #1

TL;DR I'm not willing to add this feature but am willing to thoughtfuly review any PR if someone decides to take a stab at it.

[2017-01-29 20:02] #84 closed

[2017-02-07 18:17] Hum4n01d commented on #73
I'd love this!!

[2017-02-07 18:22] Hum4n01d opened #85 "Update screenshot to reflect new styles"
I think I can take care of this

[2017-02-08 14:02] chrisjansky commented on #15
Still happening for me on macOS 10.11 and Cumulus 0.10.0.

[2017-02-10 15:17] chrisjansky commented on #81
Confirming the same issue on macOS 10.11.6, Cumulus 0.10.0.

[2017-02-23 13:13] pakokrew commented on #11
Up !

[2017-03-05 12:22] theCyanEYED opened #87 "Window under the taskbar"
![image](https://cloud.githubusercontent.com/assets/14113390/23587136/177e4c4c-01a6-11e7-9d29-3928ba20edf7.png)

This issue happens under Windows 10, after locking and unlocking a session. The options button is still reachable, that's how I can close and restart the app.

[2017-03-05 12:33] MichielDeMey commented on #87
Hi! Thanks for the bug report.
We currently do not yet support Windows mostly due to issues like these, and unfortunately we rely on a third-party library when it comes to the positioning of the window based on the task bar.

Nonetheless, we'll keep this ticket open for future reference. :)

[2017-03-06 10:06] seppestas commented on #87
Hey @theCyanEYED, do you have your Windows taskbar set to auto-hide?

[2017-03-06 18:27] Hum4n01d opened #88 "Add support for playing from charts in a certain category"
It would be cool to be able to play music directly from the top charts. Similar to #71 and #78

[2017-03-07 18:18] v12 commented on #69
Is it still a case? As far as I can see, music is played from renderer process ([code](https://github.com/gillesdemey/Cumulus/blob/6b9340ad1d56d3372d241e3ccef01fe55ecef38e/app/js/stores/currentTrackStore.js#L11)), thus proxy configuration and stuff should be handled by Electron. 😉

[2017-03-08 19:33] theCyanEYED commented on #87
The taskbar is fixed. However I have two screens and one of them takes longer to wake up, sometimes that messes with my window layouts when I log back in (i.e. all windows moved to the main & slowest monitor). I don't know if that could be a cause.

[2017-03-09 09:26] seppestas commented on #87
Mmmh, if that's the case, it's probably an issue caused by Windows. Electron retrieves the location of the icon when the click event is triggered, and afaik [menubar](https://github.com/maxogden/menubar) re-computes the window location based on the information it gets from Electron every time the click event gets received.

I'll try to come up with a way to test this when I find some time.

[2017-03-10 18:55] theCyanEYED commented on #87
Should I file that bug on menubar's repo?

[2017-03-11 18:04] mediaformat opened #89 "on play player skips through list"
Cumulus v0.10.0 on macOS 10.11.6

After login I can see my feed.

As soon as I try to play anything, the player just skips through everything, loading all track metadata into the player (.

[2017-03-11 19:47] Hum4n01d commented on #89
I'm getting a similar issue

[2017-03-11 20:13] mediaformat commented on #89
tried v.0.9.0, same deal

[2017-03-11 21:53] Hum4n01d commented on #89
I’m using v0.9.0 and it’s skipping through, how should I fix this? /cc @gillesdemey

[2017-03-11 22:04] Hum4n01d commented on #89
This might be helpful @gillesdemey:

I ran with `NODE_ENV=development` and got a whole bunch errors in the console that said:

`https://api.soundcloud.com/tracks/224674551/stream?client_id=f17c1d67b83c86194fad2b1948061c9e 429 (Unknown)`

I checked one of the error pages and I saw this:

`{"errors":[{"meta":{"rate_limit":{"bucket":"by-client","max_nr_of_requests":15000,"time_window":"PT24H","name":

[2017-03-12 20:39] gillesdemey commented on #89
I think it's pretty obvious at this point that Cumulus' application credentials are exceeding the 15.000 plays / 24h rate limit.

https://developers.soundcloud.com/docs/api/rate-limits

I'm not quite sure if we can increase the rate limit, so at this point all we can do is show some sort of exception to the user 😔

[2017-03-12 20:46] Hum4n01d commented on #89
ok :)

[2017-03-13 13:40] mirshko commented on #89
@gillesdemey I too am having this issue. I would escalate this issue to critical bug.

I hope SoundCloud doesn't give you guys the Twitter dev treatment.

[2017-03-15 14:55] dougos commented on #89
Having the same issue, making Cumulus unusable.

[2017-03-15 16:48] benjaminclark commented on #89
I used to use soundnode and then I switched to cumulus because it ran into the same rate-limiting problem. Back on the hunt. Thank you to the devs for making such an insanely beautiful and minimal app. I will miss it. My productivity will miss it. Purple heart :purple_heart: much love, respect :v:

[2017-03-15 18:59] gillesdemey commented on #89
Thanks for the kind words @benjaminclark.

I've requested to have the API rate limit increased, waiting to hear back from them 🤞

[2017-03-15 19:41] mediaformat commented on #89
otherwise a few api keys could be used, and switch between them on rate-limit error

[2017-03-15 19:54] MichielDeMey commented on #89
@mediaformat We've discussed this approach internally and we're not going to go down this road since this goes against their Terms of User.
See: https://developers.soundcloud.com/docs/api/terms-of-use#quotas

As much as we'd like to, as an open-source community we have the obligation to play by the rules. 😉

[2017-03-15 19:57] mediaformat commented on #89
ok, I hadn't seen that page!

Fairplay to you guys :1st_place_medal:

[2017-03-15 20:04] Hum4n01d commented on #89
Dang

[2017-03-16 01:24] DarrylD commented on #15
Still happening. Any solution for this?

[2017-03-16 01:48] allyouaskfor commented on #15
macOS 10.12.3 still having this issue.

[2017-03-18 17:04] seppestas commented on #87
@theCyanEYED I think this is a Windows bug. If you can reproduce this bug on other electron apps it might make sense to report it to the [Electron project](https://github.com/electron/electron) and/or the [Chromium project](https://www.chromium.org/Home) ([issue tracker](https://bugs.chromium.org/p/chromium/issues)).

Anyhow, this bug is caused either by Window's [Shell_NotifyIconGetRect function]

[2017-03-18 17:16] seppestas commented on #87
Wait a minute: this issue could also be caused by the DPI scaling of the monitors being different. In that case I can come up with a couple of scenarios that could cause this issue:
- The window height calculation does not take the new DPI scaling in account, causing the window to be incorrectly placed
- `ScreenToDIPRect` does not calculate the click bounds correctly, in which case [commit 324153d

[2017-03-23 18:39] FoxxMD commented on #89
😢

[2017-03-23 21:03] seppestas commented on #89
Should we start some sort of petition? I'm thinking some kind of link to retweet a tweet to Soundcloud or something?

[2017-04-02 15:30] gillesdemey commented on #15
Hey folks, can you please retry with the latest 0.10.1 release and get back to me?

[2017-04-04 14:32] afischer commented on #89
Would someone with the know-how be interested in writing a how-to build from source with your own API key?

Also—would it be possible to add an "API Key" field somewhere in settings so users could use their own without having to build from source? Or would that also be a TOS violation?

[2017-04-04 15:09] gillesdemey commented on #89
Seems like quite the hassle, SoundCloud now requires users to request API credentials through a form (and it might take up to a month for them to get back to you).

[2017-04-05 00:16] araphiel commented on #89
@afischer

If you have Yarn installed:

`git clone https://github.com/gillesdemey/Cumulus.git && cd Cumulus`
`open app/js/app.js` & replace the client_id on line 47.
`yarn outdated`
`yarn upgrade [insert all listed dependencies from above.]`
`yarn`
`grunt build`

[2017-04-06 14:32] afischer commented on #89
@araphiel — Thanks. Guess I need to apply and wait a month for credentials 🙄

Not to get off topic but SC really needs to find a way to make some money... It would really be a shame to see them go under.

[2017-04-08 15:12] ivanlemeshev opened #91 "Playback not working"
I can't listen to anything. It is not plays any track. What's wrong?

![image](https://cloud.githubusercontent.com/assets/2150567/24830025/69537ad8-1c9f-11e7-80b8-e85e77fe2672.png)

macOS Sierra 10.12.4

[2017-04-08 15:13] MichielDeMey commented on #91
Possible duplicate of https://github.com/gillesdemey/Cumulus/issues/89

[2017-04-08 15:13] #91 closed

[2017-04-10 18:15] jsphpl commented on #89
In the mean time, just copy the client_id from your browser's dev tools (visiting soundcloud.com) and apply it using the approach described by the @araphiel.

<img width="1005" alt="screen shot" src="https://cloud.githubusercontent.com/assets/5419165/24876030/67e20bec-1e2a-11e7-942d-0a80aa4ae666.png">

[2017-04-12 13:52] franciosi opened #92 "Corrupted Images"
When I download Cumulus-0.10.1.dmg or even Cumulus-0.10.0.dmg my Mac can not open it. It show a 'corrupted image' box. Why?

OSX 10.9.5, MacBook Air

[2017-04-12 14:41] gillesdemey commented on #92
It looks like `sindresorhus/create-dmg` creates an ULFO DMG file (which uses `lzfse` compression), which requires at least MacOS 10.11

https://github.com/sindresorhus/create-dmg/blob/c5bd843d6ca3b60dbd5ea60cc8f7d1223d2b0b47/cli.js#L61

I'll see if I can land a patch to allow passing the DMG format so we can create DMG files using zlib compression.

[2017-04-13 11:37] Zarlex commented on #89
In the meantime you can give this alternative SoundCloud player a try :) https://cloud-player.io It also ships a native desktop app for Windows and Mac
Code is open source available [here](https://github.com/Cloud-Player/web) and build with Angular2

[2017-04-13 15:42] gillesdemey commented on #92
I've re-uploaded the latest binary with zlib compression, can you try it again?

[2017-04-14 12:21] jsphpl commented on #89
@Zarlex how do you tackle the rate limit problem?

[2017-04-14 15:10] Zarlex commented on #89
So far the app is not used by many people so i'm not exceeding the 15000 requests/day :)

[2017-04-21 20:53] evanknight opened #93 "Skipping tracks"
In version 10.0 it was skipping all tracks when I pressed play, and it's doing the same thing in 10.1 :(

![screen shot 2017-04-21 at 2 51 05 pm](https://cloud.githubusercontent.com/assets/4306462/25295742/14cda814-26a2-11e7-955d-2a3f4bd00fe6.png)

[2017-04-21 21:26] Hum4n01d commented on #93
This is because of https://github.com/gillesdemey/Cumulus/issues/89

[2017-04-21 21:27] Hum4n01d commented on #93
@gillesdemey Please close this :)

[2017-04-21 21:27] Hum4n01d commented on #85
done

[2017-04-21 21:27] #85 closed

[2017-04-22 08:50] #93 closed

[2017-04-26 14:00] franciosi commented on #92
Perfect!!! Thank you!!

Amazing and simple software!!

On Thu, Apr 13, 2017 at 12:42 PM, Gilles De Mey <notifications@github.com>
wrote:

--
*André Franciosi*
Diretor

Franciosi Consultoria
Inteligência em Negócios, TI e Infraestrutura
http://www.franciosi.info | @franciosi
+55 51 9 9722 7685 [Mobile]
+55 92 9 8178 6623 [Mobile]

[2017-04-26 14:34] gillesdemey commented on #92
👍

[2017-04-26 14:34] #92 closed

[2017-05-08 08:56] ignaty commented on #89
Having same issue. 😞

[2017-05-09 19:59] pioul commented on #89
I had a similar experience as @araphiel: it took SoundCloud a couple weeks to process the form and issue API keys for me to use in a custom build – looking forward to using Cumulus again!

[2017-05-16 08:37] neroh29 opened #94 "Skips every song upon playing."
Pretty much as soon as i start a new playlist, favorites it just skips all tracks and crosses them out and never plays anything. Tried full uninstall and still happens.

[2017-05-16 08:38] MichielDeMey commented on #94
Duplicate of https://github.com/gillesdemey/Cumulus/issues/89

[2017-05-16 08:38] #94 closed

[2017-05-17 08:10] melmdesign opened #95 "App No Longer Works"
😪

[2017-05-17 08:11] MichielDeMey commented on #95
Duplicate of https://github.com/gillesdemey/Cumulus/issues/89

[2017-05-17 08:11] #95 closed

[2017-05-17 10:35] Petetheodddog opened #96 "Skips through every song"
When a song is clicked to be played, it doesn't play it just skips through every single song it can play/skip through.

![may-17-2017 12-34-08](https://cloud.githubusercontent.com/assets/6750242/26150100/308c7584-3afd-11e7-85f8-1d6132b06e43.gif)

[2017-05-17 10:50] gillesdemey commented on #96
This is a known issue. We are occasionally hitting the SoundCloud rate limits, we've reached out to SoundCloud to have them increased but have not heard back from them yet.

Please follow the progress at https://github.com/gillesdemey/Cumulus/issues/89

[2017-05-17 10:50] #96 closed

[2017-05-18 18:47] shyam-habarakada opened #97 "Hitting Play starts trying, then skipping over all the tracks"
Looks like cumulus is completely broken for me. I tried downloading the latest build and still the same issue reproduces. The screenshot below shows the state it ends up in after exausting through the list of tracks available

![image](https://cloud.githubusercontent.com/assets/601660/26218423/c1f5b1ee-3bbf-11e7-952d-1389420c26cf.png)

Is this known? Let me know if I can provide any more informati

[2017-05-18 18:55] shyam-habarakada commented on #97
I tried cloning master and running in development mode to see if I can reproduce it there. But I am getting this error, so will wait for some input before proceeding to debug this.

[code]

I am running,

[code]

[2017-05-18 19:07] shyam-habarakada commented on #97
nvm, this is a dupe of https://github.com/gillesdemey/Cumulus/issues/89

[2017-05-18 19:07] #97 closed

[2017-05-18 19:20] shyam-habarakada commented on #89
Combining suggestions from @araphiel and @jsphpl we have an easy workaround. To re-cap,

1. `git clone https://github.com/gillesdemey/Cumulus.git && cd Cumulus`
2. Navigate to soundcloud.com in your browser and grab your client_id from the developer tools network panel. You can see it in API calls like `https://api.soundcloud.com/e1/me/track_likes/ids?limit=5000&linked_partitioning=1&client_id=YOU

[2017-06-09 18:07] andersryanc commented on #81
I think I'm experiencing a related issue... I just downloaded a fresh copy today (0.10.1) and when I first opened the app and hit play, it immediately skipped through the entire list (and appeared to mark them all as listened). No sound was played... and I got a whole bunch of notifications of each song playing one after another... I tried to hit pause, but it just kept skipping through tracks

<i

[2017-06-09 18:09] zachmoody commented on #81
@andersryanc think that behavior is related to #89.

[2017-06-09 18:31] andersryanc commented on #81
Yep... after downloading the source and investigating... I can see I'm getting the same rate limit error when I load up the stream URL in a browser:

<img width="856" alt="screen shot 2017-06-09 at 11 26 16 am" src="https://user-images.githubusercontent.com/689046/26989212-16f9d85c-4d07-11e7-8be9-d84f58c35906.png">

`{"errors":[{"meta":{"rate_limit":{"bucket":"by-client","max_nr_of_requests":15000

[2017-06-14 03:44] Hum4n01d commented on #81
@gillesdemey @MichielDeMey Close this :)

[2017-06-14 08:47] gillesdemey commented on #81
It's unclear if the original issue is related, we weren't running into rate limits back then.

[2017-06-14 17:32] Hum4n01d commented on #81
Oh my bad, I was talking about the other issue people were talking about in this thread. Sorry about that

[2017-06-19 22:20] olemelo opened #98 "Unable to 'Like' tracks"
Currently unable to 'like' tracks.  Selecting the heart icon does not appear to do anything, and tracks are not added to Likes list.
However, it seems tracks can be 'un-liked'. From the Likes menu, selecting the heart icon removes the track from the list, and it cannot be 'liked' again.

[2017-06-24 07:28] lukacosicnz opened #99 "Unable to play tracks"
I just installed v0.10.1 as a clean install from the dmg, logged into my soundcloud account, and no song will play, they just skip. I tried logging out, quitting, didn't help.

Here's a screen recording of it:
[bug.mp4.zip](https://github.com/gillesdemey/Cumulus/files/1099485/bug.mp4.zip)

[2017-06-24 09:35] MichielDeMey commented on #99
Sounds like a duplicate of https://github.com/gillesdemey/Cumulus/issues/89. Best to follow the progress in that ticket.

[2017-06-24 09:35] #99 closed

[2017-06-25 00:01] gamemasta0 opened #100 "Playback not working"
It appears as if Cumulus can't access the track to begin playing. I click play on any track and it begins skipping through the entire list, making the previous songs' text crossed through as if it thinks the track doesn't exist. Is there a log I can capture to help resolve this?

I'm running macOS Sierra 10.12.5

[2017-06-25 06:53] MichielDeMey commented on #100
Hi, looks like you are running into https://github.com/gillesdemey/Cumulus/issues/89, let us know if it's not related.

[2017-06-25 06:53] #100 closed

[2017-07-01 22:38] gamemasta0 commented on #100
Looks like you're right! Thanks for taking a look at this!

[2017-07-05 09:30] shmatkov-kp opened #101 "can't play any song"
player skipping all songs in all tabs. macOS Sierra, v 0.10.1

[2017-07-05 12:25] seppestas commented on #101
Looks like a duplicate of #89.

[2017-07-05 12:25] #101 closed

[2017-07-05 12:28] seppestas opened #102 "Add issue template to tell people about #89"
A lot of issues get created that are duplicates of #89. We should consider creating an [issue template](https://help.github.com/articles/creating-an-issue-template-for-your-repository/) telling people about the rate limiting issues that links to #89.

[2017-07-05 16:26] Hum4n01d commented on #102
I agree 👍

[2017-07-08 11:58] romainsassareu opened #103 "All tracks are unplayable"
Hello,

All tracks are unplayable.

<img width="325" alt="skitch" src="https://user-images.githubusercontent.com/10031826/27985120-b092ed26-63ed-11e7-957c-bcb0752a931d.png">

Setup: Cumulus v0.10.1 x macOS Sierra Version 10.12.5

Any idea?

Thanks!

Romain

[2017-07-08 14:04] MichielDeMey commented on #103
Yup, duplicate of https://github.com/gillesdemey/Cumulus/issues/89. :)

[2017-07-08 14:04] #103 closed

[2017-07-14 11:51] sittingbool opened #104 "Very weird behavior no playback"
<img width="328" alt="bildschirmfoto 2017-07-14 um 13 52 31" src="https://user-images.githubusercontent.com/12949701/28211216-c5f0f34a-689b-11e7-8d3c-57c62f7233c4.png">
Started Cumulus -> Sign in -> Go to Feed / Likes / Playlists -> Click Play

-> it shows covers changing a lot and the text gets striked through then it does taht for a while but even if i hit play nothing works

[2017-07-14 11:55] MichielDeMey commented on #104
This is a rate limit issue, see https://github.com/gillesdemey/Cumulus/issues/89

[2017-07-14 11:55] #104 closed

[2017-07-18 00:02] MarkehMe commented on #89
@shyam-habarakada is there a build step missing? I'm getting `Error: Cannot find module 'electron-settings'
`

[code]

[2017-07-19 18:15] andersryanc commented on #98
I noticed this started happening for me after I followed instructions in #89 to get the app working again, can't say for sure it wasn't working before that though.

[2017-07-29 10:11] avalan4e57 opened #105 "The app doesn't play any tracks on first start"
On my first app start I've tried to play something from my likes or playlists. Shows up in player but doesn't play. In playlist this track becomes ~~strikethrough~~. Then all tracks in playlist pass through player and stop on the last track while all of the tracks in list become ~~strikethrough~~ also. Looks very strange to me. Maybe there's something needed to be installed first? Or if it's a bug

[2017-07-29 10:17] MichielDeMey commented on #105
Hi, seems like a duplicate of https://github.com/gillesdemey/Cumulus/issues/89.
Can you verify?

[2017-07-29 10:17] #105 closed

[2017-07-29 10:20] avalan4e57 commented on #105
Hi, yes I think that's the same problem. Sorry for that but I think it's better to report a bug and make a duplicate then not to report and get unexpected problems in future.

[2017-08-11 18:40] aleclarson opened #106 "Cannot play any songs"
When I hit the play button, it automatically skips to the next song, and then the next song, until no songs are left. I've attached a video demonstrating the issue.

MacOS v10.12.3
Cumulus v0.10.1

<a href="https://drive.google.com/file/d/0B04xVppKr0fARDlqQjZZQ0thd0E/view">
<img src="https://lh3.googleusercontent.com/xeZ0t6MkNnqV4NvSGZNII5gECDLiXJR_qGFE05bY2rf1XOztgUiSvTsSefIN-YYoNpOsBrhzXriuhXg=w

[2017-08-12 04:14] Hum4n01d commented on #106
Duplicate of #89

[2017-08-12 09:18] MichielDeMey commented on #106
Yep, unfortunately it's a duplicate of #89.
We still haven't heard from Soundcloud for a solution.

[2017-08-12 09:18] #106 closed

[2017-08-22 14:32] jetaix opened #107 "Infinite loop on tracks when I play the song"
Impossible to play the track.
I click on the track and infinite loop on all after.

An idea ?

[2017-08-22 15:09] MichielDeMey commented on #107
Yup, we're hitting API rate limiting:
https://github.com/gillesdemey/Cumulus/issues/89

[2017-08-22 15:09] #107 closed

[2017-09-26 16:31] zachmoody commented on #89
@MarkehMe I'm on OSX and got around that by downgrading NPM to 4.6.1. No idea why that works or if it's good practice.

[2017-10-26 18:12] zakiaziz opened #108 "Songs cannot be played"
I've signed in via google and when I hit a song to play it attempts to play but doesn't. A strikethrough is applied to the name of the song then the next song is tried. The same problem occurs throughout the playlist.
![screen shot 2017-10-26 at 2 10 11 pm](https://user-images.githubusercontent.com/940281/32069613-abc3a400-ba57-11e7-9aa6-ad7d67dfdf6b.png)

[2017-10-26 21:19] MichielDeMey commented on #108
Hi, looks like a duplicate of https://github.com/gillesdemey/Cumulus/issues/89.

Unfortunately, nothing we can do about that at this moment. 🙂

[2017-10-26 21:19] #108 closed

[2017-11-30 13:23] seppestas commented on #102
Fixed in 58aaa9289b0e59f35d36a7841483a49e48a7b367

[2017-11-30 13:23] #102 closed

[2017-12-13 09:57] star114 opened #110 "Uncaught Exception: Error: Cannot find module 'electron-settings'"
Hi,

I got an exception when starting to run the application that I compiled locally.

A JavaScript error occurred in the main process
Uncaught Exception: Error: Cannot find module 'electron-settings'
at Module._resolveFilename(module.js:470:15)
...

![exception](https://cl.ly/oIQo/Image%202017-12-13%20at%207.01.39%20PM.png)

Do you have any ideas for it?

[2017-12-13 14:05] star114 commented on #89
@markhughes
Did you fix it?
I’m in the same problem.

[2017-12-28 05:56] anitricks commented on #110
I went through the same issue.

install everything with `npm install`
but install electron-settings module version 2.2.2
so do `npm install electron-settings@2.2.2`
and then build with `grunt build`
it should work

I used the latest npm and grunt

[2017-12-28 05:58] anitricks commented on #89
I had the same problem as @markhughes

So I did mine with `npm` because `yarn` was giving me issues

install everything with `npm install`
but install electron-settings module version 2.2.2
so do `npm install electron-settings@2.2.2`
and then build with `grunt build`
it should work

I used the latest npm and grunt and every other module was the latest as well.

[2018-01-02 01:43] star114 commented on #110
@anitricks
Thanks!
I'll try it.

[2018-01-08 13:47] star114 commented on #110
yarn is not working properly in my mac. (mac osx high sierra)
I tried to build using npm as @anitricks mentioned above, and it works well.

Thank you, @anitricks!!

[2018-01-08 13:56] star114 opened #111 "Should we add package-lock.json to gitignore or git tree?"
npm makes package-lock.json automatically at building time.
Should we add it to git repository or ignore it?

[2018-01-22 09:02] star114 commented on #110
yarn dependency is broken currently.

build is successful, but running built app is failing due to "cannot find the module 'electron-settings'"

[2018-01-22 09:15] star114 commented on #111
This project currently uses Yarn as the dependency manager and currently has a lockfile (yarn.lock) for dependencies.

[2018-01-22 09:15] #111 closed

[2018-02-14 08:13] starinajes opened #113 "Automatic track switching"
When you start the player, the tracks quickly switch themselves. The music doesn't sound, just goes switching between tracks
Can record video

macOs Sierra ver. 10.12.6 (16G1036)

[2018-02-14 09:16] MichielDeMey commented on #113
We’re hitting rate limits, this is a side effect.
See https://github.com/gillesdemey/Cumulus/issues/89

[2018-02-14 09:16] #113 closed

[2018-03-13 18:03] zentus commented on #110
bumping electron-settings to 2.2.4

[2018-03-13 20:24] zentus opened #114 "ERR_FILE_NOT_FOUND on app.css and bundle.js"
I get this when I build from latest master https://github.com/gillesdemey/Cumulus/commit/dfff543f57eb43a69c2d9491db36f14af432913b

![GitHub Logo](https://i.imgur.com/IdDsnoE.png)

I'm on:
macOS High Sierra (10.13.3)
node v8.9.4
npm 5.6.0
electron v1.8.3

[2018-03-13 20:41] zentus commented on #114
never mind, i'm tired. closing

[2018-03-13 20:41] #114 closed, assigned to nobody

[2018-04-07 07:14] redmusic27 opened #115 "Logo Proposal"
Hello sir, I'm a graphic designer and I would love to contribute to your project with a logo. This is completely free, take it as a contribution. In case you agree I would be presenting sketches and you will be choosing/modifying the aspects you like more so we could work on the perfect logo for your project together.

Let me know what do you think? best regards :)

[2018-04-18 15:29] FoxxMD commented on #89
For anyone coming across this thread @anitricks steps still work but there's no need for the electron settings anymore. @gillesdemey bumped the settings version and it just works now.

* Follow steps 1-3 from the [above comment](https://github.com/gillesdemey/Cumulus/issues/89#issuecomment-302515199)
* install with `npm install`
* `grunt build`
* Run the app from the `dist` directory 👍

[2018-05-27 05:49] star114 opened #116 "Build failure with the message, "no member named 'ForceSet' in 'v8::Object'""
[code]

[2018-05-27 06:02] star114 commented on #89
There is still something wrong with "yarn", not "npm".

The dependency of this project is managed by "yarn" officially, but if you install the dependencies with ```yarn``` and ```grunt build```, you get the same electron-settings error as @markhughes commented.

```npm install``` is ok.

[2018-06-07 13:54] Radu-Raicea commented on #89
Might be worth putting @shyam-habarakada's solution in the README for now.

[2018-07-03 10:07] TomL-J opened #117 "Please add stations"
Please, could you add the Stations feature? Thanks

[2018-07-04 09:07] star114 commented on #116
is this project no longer maintained?

[2018-07-06 22:29] autonome opened #118 "Escape key should close UI"
When the UI is open, hitting ESC should close it.

[2018-08-09 19:55] colinfran commented on #89
is there an updated temporary solution to this? none of the previous temporary solutions are no longer working for me

[2018-10-03 03:16] markhughes commented on #89
@colinfran all we can do is use our own keys - not the one that are provided

[2019-03-12 22:21] oleschaper commented on #81
Same here, v0.10.1, MacOSX 10.14.3

[2019-06-07 08:59] Salomanuel opened #119 "last.fm scrobbling"
it would be nice to have [last.fm](www.last.fm) scrobbling support

[2019-12-16 09:02] cooljaimin opened #120 "Start up speed"
Hello,

First of all, thank you very much for creating and developing Cumulus. It has altered the way I listen to music on SoundCloud. the issue I am reporting is the startup speed. Every time I quit the application and start it up again, my mac freezes for a few seconds and then the application bounces up on the dock and then my mac freezes again and then the application opens. Therefore, I am re

[2020-06-10 16:31] Krishna-Sivakumar opened #121 "Cannot install dependencies"
I  ran npm install and this occured.:
[code]

Is this a problem with fs-xattr?

[2020-10-11 20:48] Amitabh95 commented on #110
Try this. I worked for me.
https://github.com/electron/electron-packager/issues/992#issuecomment-493643251

[2021-02-19 18:57] mahmoudajawad commented on #34
Closing this as I'm no longer attending this issue.

[2021-02-19 18:57] #34 closed

[2021-03-16 22:07] #68 closed

[2021-10-13 11:27] gguman commented on #89
Can anyone help with installation pls. I got a lot of errors while trying to install it

[2021-10-13 12:51] seppestas commented on #89
No-one will be able to help you with that description. This issue is about the app being rate limited by the Soundcloud APIs. Do you suspect your issue is something similar?

If not, I suggest creating a new issue with a more detailed description and error log, but even then I don't know if anyone is still actively supporting this app.

[2021-10-14 09:19] gguman commented on #89
Thanks for the answer. I went through the above installation process but there are dependency issues - fs-xattr. Both npm and yarn have the same problems for me if I use the latest version of them. What version of software should I use to successfully build the app? Can someone make a video of the process that will help people? This app is perfect among others and I still haven't found any alterna

[2021-10-16 10:41] gguman commented on #89
The application with node#11.15.0 was successfully built, but changing the client_id inside the file does not help - "Sorry, something went wrong" appears on any tabs. Also I noticed that now soundcloud works with api_v2. Maybe this is the problem? Is anyone using this app now?

[2022-06-29 14:13] #44 closed